<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<location path="." inheritInChildApplications="false">
		<system.webServer>
			<handlers>
				<add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
			</handlers>
			<aspNetCore processPath="dotnet"
				arguments=".\Mzad_Palestine_API.dll"
				stdoutLogEnabled="true"
				stdoutLogFile=".\logs\stdout"
				hostingModel="outofprocess"
				startupTimeLimit="3600"
				requestTimeout="23:00:00">
				<environmentVariables>
					<environmentVariable name="ASPNETCORE_ENVIRONMENT" value="Production" />
					<environmentVariable name="COMPLUS_ForceENC" value="1" />
				</environmentVariables>
			</aspNetCore>
		</system.webServer>
	</location>
</configuration>
